# Documentation generator based on MkDocs
# Automatically documents API references
# References:
#   https://www.mkdocs.org/
#   https://mkdocstrings.github.io/recipes/

site_name: CALYPR

plugins:
  - search
  - macros
  - awesome-nav
  - open-in-new-tab # automatically open ext links in new tab

repo_url: https://github.com/calypr/calypr.github.io
repo_name: calypr.github.io
  
theme:
  name: material
  palette:
    - scheme: default
      primary: custom
  features:
    - navigation.indexes 
    - navigation.footer
    - content.code.copy
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - header.autohide

markdown_extensions:
  - admonition
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.details
  - toc:
      permalink: true

extra_css:
  - stylesheets/extra.css
