# Documentation generator based on MkDocs
# Automatically documents API references
# References:
#   https://www.mkdocs.org/
#   https://mkdocstrings.github.io/recipes/

site_name: CALYPR
site_url: https://calypr.org

plugins:
  - search
  - macros
  - awesome-nav
  - open-in-new-tab # automatically open ext links in new tab
  - termynal:
      prompt_literal_start:
        - "$"
        - ">"
  - mermaid2

theme:
  name: material
  logo: assets/logo.png
  custom_dir: overrides
  palette:
    - scheme: default
      primary: custom
  features:
    - navigation.indexes 
    # - navigation.footer
    - content.code.annotate
    - content.code.copy
    - navigation.tabs
    # - navigation.sections
    - navigation.top
    - header.autohide
    - navigation.tabs

markdown_extensions:
  - attr_list
  - md_in_html
  - admonition
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.details
  - toc:
      permalink: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format


extra_css:
  - stylesheets/extra.css

exclude_docs: |
  **/_*.md
