# Documentation generator based on MkDocs
# Automatically documents API references
# References:
#   https://www.mkdocs.org/
#   https://mkdocstrings.github.io/recipes/

site_name: CALYPR
site_url: https://calypr.org

plugins:
  - awesome-nav
  - open-in-new-tab # automatically open ext links in new tab

theme:
  name: material
  logo: assets/logo.png
  custom_dir: overrides
  palette:
    - scheme: default
      primary: custom
  features:
    - navigation.indexes 
    # - navigation.footer
    - content.code.copy
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - header.autohide

markdown_extensions:
  - admonition
  - attr_list
  - markdown_include.include:
      base_path: docs
  - md_in_html
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.details
  - toc:
      permalink: true

extra_css:
  - stylesheets/extra.css

exclude_docs: |
  **/_*.md
# Navigation is handled by .nav.yaml files in the docs/ directory via awesome-nav plugin.
