# Documentation generator based on MkDocs
# Automatically documents API references
# References:
#   https://www.mkdocs.org/
#   https://mkdocstrings.github.io/recipes/

site_name: CALYPR
site_url: https://calypr.org

plugins:
  - awesome-nav
  - gh-admonitions
  - macros
  - mermaid2
  - open-in-new-tab
  - search
  - termynal:
      prompt_literal_start:
        - "$"
        - ">"

theme:
  name: material
  logo: assets/logo.png
  custom_dir: overrides
  palette:
    - scheme: default
      primary: custom
  features:
    - navigation.indexes 
    - content.code.annotate
    - content.code.copy
    - navigation.tabs
    - navigation.top
    - header.autohide
    - navigation.tabs

markdown_extensions:
  - admonition
  - attr_list
  - markdown_include.include:
      base_path: docs
  - md_in_html
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - toc:
      permalink: true

extra_css:
  - stylesheets/extra.css

exclude_docs: |
  **/_*.md
