{% set class = "md-header md-header--shadow" %}
<header class="{{ class }}" data-md-component="header">
  <nav class="md-header__inner md-grid" aria-label="{{ lang.t('header') }}">
    <a href="{{ config.extra.homepage | d(nav.homepage.url, true) | url }}" title="{{ config.site_name | e }}" class="md-header__brand" aria-label="{{ config.site_name }}">
      <span class="md-header__brand-logo md-logo" data-md-component="logo">
        {% include "partials/logo.html" %}
      </span>
      <span class="md-header__brand-text">{{ config.site_name }}</span>
    </a>
    <label class="md-header__button md-icon" for="__drawer" aria-label="{{ lang.t('nav') }}">
      {% set icon = config.theme.icon.menu or "material/menu" %}
      {% include ".icons/" ~ icon ~ ".svg" %}
    </label>

    <div class="md-header__nav" aria-label="{{ lang.t('tabs') }}">
      <ul class="md-header__nav-list">
        {% for nav_item in nav.items %}
          {% set class = "md-header__nav-item" %}
          {% if nav_item.active %}
            {% set class = class ~ " md-header__nav-item--active" %}
          {% endif %}
          {% if nav_item.children %}
            {% set ns = namespace(index = none) %}
            {% if "navigation.indexes" in features %}
              {% for item in nav_item.children %}
                {% if item.is_index and ns.index is none %}
                  {% set ns.index = item %}
                {% endif %}
              {% endfor %}
            {% endif %}
            {% set first = ns.index or nav_item.children | first %}
            <li class="{{ class }}">
              <a href="{{ first.url | url }}" class="md-header__nav-link">
                {{ nav_item.title }}
              </a>
            </li>
          {% else %}
            <li class="{{ class }}">
              <a href="{{ nav_item.url | url }}" class="md-header__nav-link">
                {{ nav_item.title }}
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>

    {% if config.theme.palette %}
      {% if not config.theme.palette is mapping %}
        {% include "partials/palette.html" %}
      {% endif %}
    {% endif %}
    {% if not config.theme.palette is mapping %}
      {% include "partials/javascripts/palette.html" %}
    {% endif %}
    {% if config.extra.alternate %}
      {% include "partials/alternate.html" %}
    {% endif %}
    {% if "search" in config.plugins %}
      {% set search = config.plugins["search"] | attr("config") %}
      {% if search.enabled %}
        <label class="md-header__button md-icon" for="__search" aria-label="{{ lang.t('search') }}">
          {% set icon = config.theme.icon.search or "material/magnify" %}
          {% include ".icons/" ~ icon ~ ".svg" %}
        </label>
        {% include "partials/search.html" %}
      {% endif %}
    {% endif %}
    <div class="md-header__source">
      {% if config.repo_url %}
        {% include "partials/source.html" %}
      {% endif %}
    </div>
  </nav>
</header>
